{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this e-mail because you request a passwords
    reset fot your user account at {{ site_name }}.{% endblocktrans %}
{% trans "Please go to the fallowing page and choose a new password:" %}
    {% block reset_link %}
        {{ protocol }}:/{{ domain }}
        {% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% trans "Your user name incase you have forgotten:" %}
    {{ user.get_username }}

    {% trans "Thenks for usuing our site!" %}
    {% blocktrans %} The {{ site_name }} kralınız! (görkem reise saygılar)
        .{% endblocktrans %}
{% endautoescape %}